.caption {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding: 30px;
}

.text {
    padding: 10px;
    line-height: 130%;
    font-size: 20px;
}

.floats {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.floats img {
    border-radius: 15px;
    transition: transform 0.3s ease-in;
}

.floats img:hover {
    transform: scale(1.05);
}
