.wrapper {
    padding: 30px 15px;
}

.about_wrapper {
    position: relative;
    padding-bottom: 20px;
}

.about_wrapper::after {
    position: absolute;
    content: '';
    top: 15%;
    right: 0;
    background-image: url('assets/icons/mol5.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15;
    width: 400px;
    height: 400px;
}

.title {
    font-weight: 800;
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
}

.text {
    padding: 10px;
    line-height: 130%;
    font-size: 20px;
}

.list {
    padding: 0 0 0 50px;
    line-height: 150%;
    list-style: circle;
    font-size: 20px;
}

.warning {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background-color: #c0ffec;
    border: 2px solid #34d9a7;
    border-radius: 20px;
    color: #207058;
    font-weight: 600;
    font-size: 22px;
}

.warning img {
    width: 70px;
    height: 70px;
}
