.table {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

.table thead tr th {
    background-color: #d8e8ff;
    padding: 20px 10px;
    text-transform: uppercase;
    font-weight: 700;
    vertical-align: middle;
}

.table tbody tr {
    transition: all 0.2s ease-in;
}

.table tr:nth-child(even) {
    background-color: #e6f1ff;
}

.table tr:hover {
    background-color: #d0def2;
}

.table tbody tr td {
    padding: 20px;
    vertical-align: middle;
    line-height: 125%;
}

@media (max-width: 900px) {
    .table {
        font-size: 17px;
    }
}
@media (max-width: 800px) {
    .table {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .table {
        font-size: 18px;
        border: 3px solid #e6f1ff;
    }
    .table thead tr {
        display: none;
    }
    .table tr {
        display: block;
    }
    .table tbody tr td {
        padding: 15px;
    }
    .table td {
        text-align: right;
        display: block;
    }
    .table td::before {
        content: attr(data-title) ': ';
        float: left;
        color: #285d8a;
        font-weight: 700;
    }
}
