header {
    background-color: #dff4ff;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
}

.header_logo::before {
    position: absolute;
    content: '';
    background-image: url('assets/icons/molecule.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    top: -7px;
    right: -32px;
    z-index: 0;
}

.logo {
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
    color: black;
    z-index: 1;
}

.logo span {
    color: #0b5bb0;
    z-index: 1;
}

.caption {
    color: #1e1b6f;
    font-weight: 500;
    font-family: 'Comfortaa', sans-serif;
    z-index: 1;
}

.number {
    font-size: 42px;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
    color: #1e1b6f;
}

.header_nav ul {
    display: flex;
    gap: 20px;
    font-family: 'Comfortaa', sans-serif;
}

.header_nav ul li {
    font-weight: 600;
    position: relative;
}

.header_nav ul li a {
    transition: all 0.2s ease-in;
}

.header_nav ul li a:hover {
    color: #0b5bb0;
}

.header_nav ul li ul {
    position: absolute;
    top: 25px;
    width: 200px;
    background-color: #b2d8ed;
    border-radius: 20px;
    z-index: 3;
    display: none;
}
.header_nav ul li ul::before {
    position: absolute;
    content: '';
    top: -5px;
    left: 18px;
    width: 30px;
    height: 30px;
    background-color: #b2d8ed;
    transform: rotate(45deg);
}

.header_nav ul li:hover ul {
    display: block;
}

.header_nav ul li ul li {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #388be3;
}
.header_nav ul li ul li:last-child {
    border-bottom: none;
}
