.wrapper {
    padding: 30px 15px;
}

.about_wrapper {
    position: relative;
    padding-bottom: 20px;
}

.about_wrapper::after {
    position: absolute;
    content: '';
    top: 20%;
    right: 0;
    background-image: url('assets/icons/mol.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.15;
    width: 400px;
    height: 400px;
}

.title {
    font-weight: 800;
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
}

.text {
    padding: 10px;
    line-height: 130%;
    font-size: 20px;
}

.list {
    padding: 0 0 0 50px;
    line-height: 150%;
    list-style: circle;
    font-size: 20px;
}

.caption {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
}

.fact {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #bae6ff;
    border-radius: 25px;
    gap: 15px;
    margin-bottom: 20px;
    border: 1px solid #285d8a;
}

.fact img {
    width: 50px;
    height: 50px;
}

.fact p {
    font-size: 22px;
    color: #285d8a;
}

.floats {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    transition: transform 0.3s ease-in;
}

.floats img {
    border-radius: 15px;
    transition: transform 0.3s ease-in;
}

.floats img:hover {
    transform: scale(1.05);
}

.table {
    display: block;
    margin: 0 auto;
    width: 600px;
}

.link {
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
    padding-top: 30px;
    padding-right: 50px;
    position: relative;
}

.link::after {
    position: absolute;
    content: '';
    background: url('assets/icons/arrow.png') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 44%;
    right: 0;
}
