.wrapper {
    padding: 30px 15px;
}

.title {
    font-weight: 800;
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
}

.text {
    padding: 10px;
    line-height: 130%;
    font-size: 20px;
}

.list {
    padding: 0 0 0 50px;
    line-height: 150%;
    list-style: circle;
    font-size: 20px;
}

.caption {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding: 30px;
}

.fact {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #bae6ff;
    border-radius: 25px;
    gap: 15px;
    margin-top: 30px;
    border: 1px solid #285d8a;
}

.fact img {
    width: 50px;
    height: 50px;
}

.fact p {
    font-size: 22px;
    color: #285d8a;
}

.table {
    display: block;
    margin: 0 auto;
    width: 600px;
}

.link {
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
    padding-top: 30px;
    padding-right: 50px;
    position: relative;
}

.link::after {
    position: absolute;
    content: '';
    background: url('assets/icons/arrow.png') no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 44%;
    right: 0;
}
