.images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

.images img {
    width: 270px;
    border-radius: 20px;
    transition: transform 0.3s ease-in;
    height: 210px;
    object-fit: cover;
}

.images img:hover {
    transform: scale(1.05);
}

@media (max-width: 620px) {
    .images img {
        width: 100%;
        height: 300px;
    }
    .images img:hover {
        transform: scale(1.02);
    }
}

@media (max-width: 430px) {
    .images img {
        height: 250px;
    }
}
