header {
    background-color: #dff4ff;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.logo {
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
}

.logo span {
    color: #0b5bb0;
}

.caption {
    color: #1e1b6f;
    font-weight: 500;
    font-family: 'Comfortaa', sans-serif;
}

.number {
    font-size: 42px;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
    color: #1e1b6f;
}

.header_nav ul {
    display: flex;
    gap: 20px;
    font-family: 'Comfortaa', sans-serif;
}

.header_nav ul li {
    font-weight: 600;
}
