.scroll {
    position: fixed;
    bottom: 7%;
    right: 5%;
    width: 70px;
    height: 70px;
    background-color: #9db3e9;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.scroll::after {
    position: absolute;
    content: '';
    background-image: url('assets/icons/arrow-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in;
}

.scroll:hover {
    background-color: #8daeff;
}

.scroll:hover::after {
    transform: translate(-50%, -60%) scale(1.05) !important;
}

@media (max-width: 400px) {
    .scroll {
        width: 60px;
        height: 60px;
    }
    .scroll::after {
        width: 40px;
        height: 40px;
    }
}
