.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.benefits_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #b0e1e6;
    padding-right: 30px;
}
.benefits_content:last-child {
    border-right: 0;
    padding-right: 0;
    padding-left: 30px;
}

.benefits_item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #b0e1e6;
    padding: 20px;
}

.benefits_item:last-child {
    border-bottom: 0;
}

.benefits_item img {
    width: 80px;
    height: 80px;
}

.benefits_item_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.benefits_item_info h3 {
    font-size: 18px;
    font-weight: 600;
    color: #16769e;
}

.benefits_item_info p {
    color: #547993;
    font-size: 17px;
    line-height: 120%;
}

@media (max-width: 1040px) {
    .benefits_content {
        padding-right: 20px;
    }
    .benefits_content:last-child {
        padding-left: 20px;
    }
    .benefits_item {
        padding: 15px;
    }
}
@media (max-width: 940px) {
    .benefits_item {
        flex-direction: column;
    }
    .benefits_item_info h3 {
        text-align: center;
    }

    .benefits_item_info p {
        text-align: center;
    }
}
@media (max-width: 800px) {
    .benefits {
        display: flex;
        flex-direction: column;
    }
    .benefits_content {
        border-right: none;
        padding-right: 0;
    }
    .benefits_content:last-child {
        padding-left: 0;
    }
    .benefits_item:last-child {
        border-bottom: 2px solid #b0e1e6;
    }
}
