.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    align-items: center;
    border: 2px solid #b7dee9;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.decor {
    position: absolute;
    content: '';
    bottom: 5%;
    right: 2%;
    width: 80px;
    height: 80px;
}

.cardImg {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    line-height: 135%;
}

.info h5 {
    color: #458bc9;
    font-size: 26px;
    font-weight: 700;
}

.info li {
    font-size: 20px;
}
