.footer {
    padding: 40px;
    background-color: #dff4ff;
}

.footer_content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Rubik';
}

.footer_info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #2f4d6a;
}

.footer_item h4 {
    font-weight: 700;
    font-size: 22px;
    color: #4b789f;
}

.footer_item b {
    font-weight: 600;
}

.footer_logo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 8px;
    color: black;
}

.logo {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Rubik', sans-serif;
}

.logo span {
    color: #0b5bb0;
}

.caption {
    color: #1e1b6f;
    font-weight: 500;
    font-family: 'Comfortaa', sans-serif;
}

@media (max-width: 1250px) {
    .footer_content {
        grid-template-columns: 1fr 3fr;
    }
}
@media (max-width: 960px) {
    .footer_content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .footer_info {
        justify-content: start;
    }
}
@media (max-width: 730px) {
    .footer_info {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 20px;
    }
    .logo {
        font-size: 32px;
    }
    .caption {
        font-size: 14px;
    }
}
